RewriteEngine On

ErrorDocument 404 /Kochbuch/error?code=404
ErrorDocument 500 /Kochbuch/error?code=500

# Umschreiben von "localhost/api/" auf "localhost/api.php"
RewriteRule ^api/?$ api.php [L]

# Umschreiben von "localhost/error/" auf "localhost/error.php"
RewriteRule ^error/?$ error.php [L]

# Umschreiben von "localhost/search/" auf "localhost/search.php"
RewriteRule ^search/?$ search.php [L]

# Umschreiben von "localhost/rezept/" auf "localhost/rezept.php"
RewriteRule ^rezept/?$ rezept.php [L]

# Umschreiben von "localhost/new/" auf "localhost/addRezept.php"
RewriteRule ^new/?$ addRezept.php [L]

# Umschreiben von "localhost/calendar/" auf "localhost/calendar.php"
RewriteRule ^calendar/?$ calendar.php [L]

# Umschreiben von "localhost/settings/" auf "localhost/settings.php"
RewriteRule ^settings/?$ settings.php [L]

# Umschreiben von "localhost/cart/" auf "localhost/cart.php"
RewriteRule ^cart/?$ cart.php [L]

# Umschreiben von "localhost/github/" auf "localhost/github.php"
RewriteRule ^github/?$ github.php [L]

# Umschreiben von "localhost/readme/" auf "localhost/readme.php"
RewriteRule ^readme/?$ readme.php [L]


<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
    Order Allow,Deny
    Deny from all
    ErrorDocument 403 /Kochbuch/error?code=403
</FilesMatch>